.inner-container{
    gap: 1.5rem;
    background: rgb(50, 119, 246);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(77, 116, 188);
    text-align: center;
}
.inner-container .primaryText{
    color: rgb(255, 255, 255);
}
.inner-container .primaryText:hover{
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}    
.inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}