.hero-wrapper {
    color: rgb(0, 0, 0);
    position: relative;
    padding-bottom: 2rem;
    padding-left: 5rem; /* Align with header padding */
    padding-right: 5rem; /* Align with header padding */
    overflow: hidden; /* Prevent overflow */
}

.video-background {
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: -1; /* Send it to the back */
}

.video-background video {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the area */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Keep video behind other elements */
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: unset; /* Same as your header max width */
    margin: 0 auto; /* Centers the container horizontally */
    padding: 0 var(--header-margin);
}

/* Left side */
.hero-left {
    gap: 3rem;
}

.hero-title {
    position: relative;
    z-index: 1;
}

.hero-title > h1 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle {
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 99px;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
}

.search-bar {
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 60%;
}

@media (max-width: 768px) {
    .search-bar {
        padding: 0.4rem 0.8rem; /* Adjust padding for smaller screens */
        width: 90%; /* Make it slightly smaller on small screens */
    }
}

@media (max-width: 480px) {
    .search-bar {
        padding: 0.3rem 0.5rem; /* Further adjust padding for very small screens */
        width: 95%; /* Take almost full width on very small screens */
    }
}

.search-bar > input {
    border: none;
    outline: none;
}

.stats {
    gap: 3rem;
    margin-right: 2rem;
}

.stat > :nth-child(1) {
    font-size: 2rem;
}

.plus-symbol {
    color: orange; /* Change this to the specific shade of orange you want */
}

/* Right side */
.image-container {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}
